{% load static %}
<!-- JQuery Mask Input Js -->
<script src="{% static 'js/jquery.mask.js' %}"></script>

{% include 'base/load_jqueryui.html' %}

{% include 'base/tooltip_js.html' %}

<!-- Datetimepicker Css/Js -->
<link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

{% include 'base/datetimepicker_js.html' %}

<script type="text/javascript">
	var req_urls = {}

	req_urls.info_emit_url = "{% url 'zeppelin:ajaxexemplo' %}";
  	$.Admin.exemploajax.init(req_urls);
</script>