{%extends 'base/base.html'%}
{% load static %}
{%block title%}Sobre usuário{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid block">
    
    {% include 'base/msg_sucesso.html' %}

    <div class="block-header">
      <h2>USUÁRIO</h2>
    </div>
    <div class="block-content">
      <div class="card">
        <div class="header">
          <h2>
            <a href="{%url 'login:usuariosview'%}"><i class="material-icons">&#xE5C4;</i></a>
            <span><b>Usuário: </b>{{user_match.username}}{% if user_match.is_superuser %} (Admin){% endif %}</span>


          </h2>


          <div class="header-btn">
            {%if not user_match.is_superuser%} 
            <form action="{% url 'login:deletarusuarioview' user_match.id %}" method="post">
              {% csrf_token %}
               <input type="hidden" name="user_id" value="{{user_match.id}}">
                <button class="btn btn-red" type="submit"><i class="material-icons">&#xE872;</i><span> REMOVER</span></button>
            </form>







            {%endif%}
          </div>
        </div>
        <div class="body perfil-user">
            <div class="col-md-3 foto-perfil">

              {% if user_foto %}
              <img src="{% get_media_prefix %}{{user_foto}}"/>
              {%else%}
              <img src="{% get_media_prefix %}imagens/user.png"/>
              {%endif%}
            </div>
            <div class="col-md-8">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Status:</td>
                    <td>{% if user_match.is_superuser %}Administrador{%else%}Usuário{%endif%}</td>
                  </tr>
                  <tr>
                    <td>Nome:</td>
                    <td>{{user_match.first_name}}</td>
                  </tr>
                  <tr>
                    <td>Sobrenome:</td>
                    <td>{{user_match.last_name}}</td>
                  </tr>
                  <tr>
                    <td>Nome de usuário:</td>
                    <td>{{user_match.username}}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{user_match.email}}</td>
                  </tr>
                  <tr>
                    <td>Departamento:</td>
                    <td>{{departamento.nome}}</td>
                  </tr>
                   <tr>
                    <td>Perfil:</td>
                    <td>{{perfil}}</td>
                  </tr>

                  <tr>
                    <td>Cadastrado em :</td>
                    <td>{{data_inclusao}}</td>
                  </tr>
                  <tr>
                    <td>Ultima modificação :</td>
                    <td>{{date_ultima_modificacao}}</td>
                  </tr>
                  <tr>
                    <td>Ativo:</td>
                    <td>
                         {%if user_match.is_superuser%}
                        SIM
                    {%else%}
                        {% if user_match.is_active %}
                            SIM
                        {%else%}
                            NÃO
                        {%endif%}
                    {%endif%}

                    </td>
                  </tr>
                  {%if not user_match.is_active%}
                  <tr>
                    <td>Data Inativação:</td>
                    <td>{{data_inativacao}}</td>
                  </tr>
                  {%endif%}
                  {% if not user_match.is_superuser %}

                  <tr>
                    <td>
                        {% if user_match.is_active %}
                            Deseja INATIVAR este usuário?
                        {%else%}
                            Deseja ATIVAR este usuário?
                        {%endif%}
                    </td>
                    <td>


                        {% if user_match.is_active %}
                            <form action="{% url 'login:ativaview' user_match.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{user_match.id}}">
                                <button class="btn btn-red" type="submit"><i class="material-icons">autorenew</i><span> INATIVAR USUÁRIO </span></button>
                            </form>

                        {%else%}
                            <form action="{% url 'login:ativaview' user_match.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{user_match.id}}">
                                <button class="btn btn-success" type="submit"><i class="material-icons">autorenew</i><span> ATIVAR USUÁRIO</span></button>
                            </form>
                        {%endif%}




                    </td>
                  </tr>
{%endif%}

                </tbody>
              </table>

            </div>
            <a href="{% url 'login:permissoesusuarioview' user_match.id %}" style="margin:15px;float:right;" class="btn btn-primary">EDITAR PERMISSÕES</a>
        </div>
      </div>
    </div>

    
  </div>
</section>


{%endblock%}