{%extends 'base/base.html'%}

{%block title%}Perfil{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid block">
    <div class="block-header">
      <h2>PERFIL</h2>
    </div>
    
    {% include 'base/msg_sucesso.html' %}

    <div class="block-content">
      <div class="card">
        <div class="header">
          <h2>
            <i class="material-icons">&#xE55A;</i>
            MEU PERFIL
          </h2>
          <div class="header-btn">
              <a href="{% url 'login:editarperfilview' %}" class="btn btn-primary"><i class="material-icons">&#xE254;</i><span> EDITAR PERFIL</span></a>
              <a href="{% url 'login:alterarsenha' %}" class="btn btn-primary"><i class="material-icons">&#xE254;</i><span> ALTERAR SENHA</span></a>
          </div>
        </div>
        <div class="body perfil-user">
          <div class="row">
            <div class="col-md-3 foto-perfil">  
              {% if user_foto_sidebar %}
              <img src="{% get_media_prefix %}{{user_foto_sidebar}}"/>
              {%else%}
              <img src="{% get_media_prefix %}imagens/user.png"/>
              {%endif%}
            </div>
            <div class="col-md-8">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Status:</td>
                    <td>{% if request.user.is_superuser %}Administrador{%else%}Usuário{%endif%}</td>
                  </tr>
                  <tr>
                    <td>Nome:</td>
                    <td>{{request.user.first_name}}</td>
                  </tr>
                  <tr>
                    <td>Sobrenome:</td>
                    <td>{{request.user.last_name}}</td>
                  </tr>
                  <tr>
                    <td>Nome de usuário:</td>
                    <td>{{request.user.username}}</td>
                  </tr>
                  <tr>
                    <td>PCD:</td>
                    <td>{% if request.user.usuario.pcd == '0' %}NÃO{%else%}SIM{%endif%}</td>
                  </tr>
                  <tr>
                    <td>Certificado Digital:</td>
                    <td>{% if request.user.usuario.certificado_digital == '0' %}NÃO{%else%}SIM{%endif%}</td>
                  </tr>
                   <tr>
                    <td>Perfil:</td>
                    <td>{{ perfil }}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{request.user.email}}</td>
                  </tr>
                  <tr>
                    <td>Minha Empresa:</td>
                    <td>{{user_empresa}}</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>              
        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}