/*Sobreescrevendo estilo jquery-ui para seleção do dia corrente*/

.multidatepicker-verde .ui-state-default{
    background: #74b666;
    border:1px solid #34602b;
}

.multidatepicker-laranja .ui-state-default{
    background: #fd9e26;
    border:1px solid #e18d23;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{
    border:1px solid #003eff;
    background: #007fff;
    font-weight:normal;
    color:#fff
}
.ui-icon-background,.ui-state-active .ui-icon-background{
    border:#003eff;
    background-color:#fff
}

.ui-state-highlight-multi a {
    border:1px solid #003eff;
    background:#007fff !important;
    color: #fff !important;
    box-shadow: none;
}

