<div>
    <h2 style="margin-bottom: -20px">Horas Aprovadas - Percentual</h2>
    <div><small>Relatório do mês de {{ mes }} de {{ ano }}</small></div>
    <br/>
</div>

<div>
    <table cellpadding="2">
      <thead>
        <tr style="background-color: #0a9edc; padding-top: 5px; color: #ffffff">

            <th style="text-align: left">Solicitante</th>

            {% if projetos %}

                {% for projeto in projetos %}

                    <th style="text-align: left">
                        {{projeto}}
                    </th>

                {% endfor %}

            {% endif %}

            <th style="text-align: left">Total</th>

        </tr>
      </thead>

      <tbody>

       {% if all_natops%}
       {% for key, value in all_natops.items %}
         <tr style="padding-top: 5px">
             <td><strong>{{ key }}</strong></td>

            {% for projeto, percentual in value.items %}
                <td>
                    {% if percentual > 0.0 %}
                        {{ percentual|floatformat:2 }}%
                    {% else %}
                        -
                    {% endif %}
                </td>
            {% endfor %}

        </tr>
      {% endfor %}
      {%endif%}

    </tbody>
    </table>
</div>
<hr/>

<div style="text-align: center; margin: 100px 200px 0px 200px">
    <div style="border-top: black 1px solid; width: 300px; display: block; padding-top: 5px">
        <strong>{{ aprovador }}</strong>
    </div>
</div>
