{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">

    {% include 'base/title_header.html' %}

    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                  <a target="_blank" href="{{add_url}}" class="btn btn-info"><i class="material-icons">picture_as_pdf</i><span> Exportar</span></a>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}
           <div class="row">
               {% include 'base/select_mes.html' %}
           </div>

           {% if all_natops %}

           <div class="table-responsive">
{#           Adicionar id="lista-database" no table para virar DataTables#}
            <table class="table table-bordered table-striped lista-table" data-page-length="50"  data-order='[[0, "asc"]]'>
{#               <table >#}
              <thead>
                <tr>

                    <th>Solicitante</th>

                    {% if projetos %}

                        {% for projeto in projetos %}

                            <th>
                                {{projeto}}
                            </th>

                        {% endfor %}

                    {% endif %}

                    <th>Total</th>

                </tr>
              </thead>

              <tbody>

               {% if all_natops%}
               {% for key, value in all_natops.items %}
                 <tr>
                    <td>{{ key }}</td>

                    {% for projeto, percentual in value.items %}
                        <td>{{ percentual|floatformat:2 }}%</td>
                    {% endfor %}

                </tr>
              {% endfor %}
              {%endif%}

            </tbody>
          </table>
        </div>

          {% endif %}

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}

{% block js %}

   <script>
        $('#id_select_mes, #id_select_ano').on('change', function () {
            let mes = $('#id_select_mes').val()
            let ano = $('#id_select_ano').val()
            window.location.href = `{% url 'timesheet:verpercentuaisdiariosaprovados' %}?mes=${mes}&ano=${ano}`;
        })
   </script>

{% endblock %}