{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">

    {% include 'base/title_header.html' %}

    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                  <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> LANÇAR HORAS</span></a>
                  <button class="btn btn-info btn-submeter-horas"><i class="material-icons">check</i><span> SUBMETER</span></button>
                  <button class="btn btn-red btn-remover-submeter-horas"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

              <div class="row">

                  <div class="col-sm-2">
                      <div class="form-group">
                          <div class="form-line">
                              <label for="select-mes">Mês:</label>
                              <select class="form-control" name="select_mes" id="id_select_mes">
                                  <option value="">---</option>
                                  <option value="12" {% if mes_selecionado == '12' %}selected{% endif %}>Dezembro</option>
                                  <option value="11" {% if mes_selecionado == '11' %}selected{% endif %}>Novembro</option>
                                  <option value="10" {% if mes_selecionado == '10' %}selected{% endif %}>Outubro</option>
                                  <option value="9" {% if mes_selecionado == '9' %}selected{% endif %}>Setembro</option>
                                  <option value="8" {% if mes_selecionado == '8' %}selected{% endif %}>Agosto</option>
                                  <option value="7" {% if mes_selecionado == '7' %}selected{% endif %}>Julho</option>
                                  <option value="6" {% if mes_selecionado == '6' %}selected{% endif %}>Junho</option>
                                  <option value="5" {% if mes_selecionado == '5' %}selected{% endif %}>Maio</option>
                                  <option value="4" {% if mes_selecionado == '4' %}selected{% endif %}>Abril</option>
                                  <option value="3" {% if mes_selecionado == '3' %}selected{% endif %}>Março</option>
                                  <option value="2" {% if mes_selecionado == '2' %}selected{% endif %}>Fevereiro</option>
                                  <option value="1" {% if mes_selecionado == '1' %}selected{% endif %}>Janeiro</option>
                              </select>
                          </div>
                      </div>
                  </div>

              </div>

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table" data-page-length="50"  data-order='[[0, "desc"]]'>
              <thead>
                <tr>
                    <th data-norli-sort="desc">Dia</th>
                    <th>Percentual</th>
                    <th>Projeto</th>
                    <th>Situação</th>
                    <th data-orderable="false" class="select-all">
                        <input type="checkbox" name="selecionar_todos" id="id_selecionar_todos"/>
                        <label class="remove-entry-label" for="id_selecionar_todos"></label>
                    </th>

                </tr>
              </thead>

              <tbody>
               {% if all_natops%}
               {% for natop in all_natops %}
                 <tr {% if natop.situacao == 0  or natop.situacao == 3 %}class="clickable-row"  data-href="{% url 'timesheet:editarpercentualdiario' natop.id %}" {% endif %}>
                    <td>{{natop.data_formated}}</td>
                   <td>{{natop.percentual}}%</td>
                   <td>{{natop.projeto}}</td>
                   <td>
                    {% if natop.situacao == 0  %}
                        <a class="btn disabled"><span> NÃO SUBMETIDA</span></a>
                    {% endif %}
                     {% if natop.situacao == 1  %}
                        <a class="btn btn-info disabled"><span> SUBMETIDA</span></a>
                    {% endif %}
                    {% if natop.situacao == 2  %}
                        <a class="btn btn-success disabled"><span> APROVADA</span></a>
                    {% endif %}
                   {% if natop.situacao == 3  %}
                        <a class="btn btn-red disabled"><span> REPROVADA</span></a>
                    {% endif %}
                   </td>

               <td class="lista-remove">

                    {% if natop.full %}
                       {% if natop.situacao == 0 or natop.situacao == 3  %}
                            <input type="checkbox" name="{{natop.id}}" id="remover-entrada-{{natop.id}}"/>
                            <label class="remove-entry-label" for="remover-entrada-{{natop.id}}"></label>
                        {% endif %}
                    {% endif %}

                </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>

{%endblock%}

{% block js %}

   <script>
        $('#id_select_mes').on('change', function () {
            let mes = $(this).val()
            window.location.href = `{% url 'timesheet:listarpercentualdiario' %}?mes=${mes}`;
        })
   </script>

{% endblock %}
