{%extends 'base/base.html'%}


{%block title%} {{title_complete}} {%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="card">

          <form role="form" action="" method="post">
            {% csrf_token %}
          <!--Header-->
          <div class="header">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
            </h2>
              <div class="header-btn">
                  <button class="btn btn-success btn-aprovar_timesheet"><i class="material-icons">check</i> <span>Aprovar</span></button>
                  <button class="btn btn-red btn-reprovar_timesheet" id="btn_reprovar_pc"><i class="material-icons">clear</i><span> Reprovar </span></button>
              </div>
              <div><small>{{form.data.value}} - {{projeto}} - Solicitante: <strong>{{ object.solicitante }}</strong>.</small></div>

          </div>
          <!--# Header-->

        <div id="modal_reprovacao_timesheet" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Informe o motivo da Reprovação</h4>
                    </div>
                    <div class="modal-body">
                        <textarea required name="motivo" class="form-control" rows="5" placeholder="Digite o motivo da reprovação"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" name="reprovar_timesheet"  class="btn btn-red">Reprovar</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- Body-->
            <div class="body">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">
                      <label>{{form.data.label}}</label>
                        <input type="text" name="data" value="{{form.data.value}}" class="form-control" size="200" required="" id="id_data" disabled>
                    </div>
                  </div>
                </div>

              <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-line">
                      <label>{{form.projeto.label}}</label>
                        <input type="text" name="projeto" value="{{projeto}}" class="form-control" size="200" required="" id="id_projeto" disabled>
                    </div>
                  </div>
                </div>

              <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-line">
                      <label>{{form.percentual.label}}</label>
                        <input type="text" name="percentual" value="{{form.percentual.value}}" class="form-control percentual" id="id_percentual" maxlength="6" disabled>
                    </div>
                  </div>
                </div>

              <div class="col-sm-12">
                  <div class="form-group">
                    <div class="form-line">
                      <label>{{form.observacao.label}}</label>

                        <textarea name="observacao" cols="40" rows="10" class="form-control" size="250" maxlength="500" id="id_observacao" disabled>
                            {% if form.observacao.value %} {{form.observacao.value}} {% endif %}
                        </textarea>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!--#Body-->
          </form>

        <div class="footer">
          <form role="form" action=""  method="post">
            {% csrf_token %}

              <h5>Lançamentos neste dia</h5>
              <div class="body">

{#                   {% include 'base/search.html' %}#}

                   <div class="table-responsive">
                    <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                    <th>Solicitante</th>
                    <th>Projeto</th>
                    <th>Percentual</th>
                    <th>Opções</th>
                </tr>
              </thead>

              <tbody>
                {% for lancamento in lancamentos_do_dia %}
                    <tr>
                        <td>{{ lancamento.solicitante }}</td>
                        <td>{{ lancamento.projeto }}</td>
                        <td>{{ lancamento.percentual }}</td>
                        <td><a class="btn btn-success" href="{% url 'timesheet:verpercentuaisdiario' lancamento.id %}">ver</a></td>
                    </tr>
                {% endfor %}

              </tbody>
          </table>
                </div>
              </div>
          </form>
        </div>

        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block js %}

  {% load static %}

  <script src="{% static 'js/jquery.mask.js' %}"></script>

    {% include 'base/load_jqueryui.html' %}
    {% include 'base/datepicker_js.html' %}

    <script>
        $.Admin.timesheet.init()
    </script>

{%endblock %}