{% load i18n admin_urls %}
{% block object-tools-items %}
<!-- <li> -->
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a class="btn btn-info" href="{% add_preserved_filters history_url %}">
        {% translate "History" %}
    </a>
<!-- </li> -->
{% if has_absolute_url %}
<!-- <li> -->
    <a href="{{ absolute_url }}" class="btn btn-info">
        {% translate "View on site" %}
    </a>
<!-- </li> -->
{% endif %}

{% if custom_top_actions %}
{% for action in custom_top_actions %}
    <!-- <li> -->
<a href="{{ action.url }}"
    class="{{action.class|default:'btn btn-info'}}">
    {{ action.title }}
</a>
    <!-- </li> -->
{% endfor %}
{% endif %}
<!-- FIXME: Trnasferir para o custom_action -->
{% if opts.model_name == 'documentounicofinanceiro' %}
<a class="btn btn-info" href="/zeppelin/pdf/documentounico/{{original.pk}}/">
    Gerar PDF
</a>
{%endif%}
{% endblock %}
