{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">

  <div class="container-fluid">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="card">

          <!--Header-->
          <div class="header">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
            </h2>
            <div><small>Campos marcados com <strong style="color:red;">*</strong> são obrigatórios.</small></div>

          </div>
          <!--# Header-->

          <form id="" role="form" action="" method="post">
            {% csrf_token %}
            <!-- Body-->
            <div class="body">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                

{#                {% for field in form %}#}
{#                <div class="col-sm-6">#}
{#                  <div class="form-group">#}
{#                    <div class="form-line">#}
{##}
{#                      <label>{{field.label}}</label>{% if field.field.required %}<strong style="color:red;"> *</strong>{% endif %}#}
{#                      {% if field.errors %}<label class="error">{% for error in field.errors %}{{error}}{% endfor %}</label>{% endif %}#}
{#                      {{field}}#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                {% endfor %}#}

{#              <div class="col-sm-4">#}
{#                  <div class="form-group">#}
{#                    <div class="form-line">#}
{##}
{#                      <label>{{form.valor_passagem.label}}</label><strong style="color:red;"> *</strong>#}
{#                      {{form.valor_passagem}}#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{##}
{#              <div class="col-sm-4">#}
{#                  <div class="form-group">#}
{#                    <div class="form-line">#}
{##}
{#                      <label>{{form.valor_passagem.label}}</label><strong style="color:red;"> *</strong>#}
{#                      {{form.valor_passagem}}#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{##}
{#              <div class="col-sm-4">#}
{#                  <div class="form-group">#}
{#                    <div class="form-line">#}
{##}
{#                      <label>{{form.valor_passagem.label}}</label><strong style="color:red;"> *</strong>#}
{#                      {{form.valor_passagem}}#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                        <label>{{form.itinerario.label}}</label><strong style="color:red;"> *</strong> <br>

                      <input type="radio" name="itinerario" id="radio_ida" value="0" {% if form.itinerario.value == '0' %}checked="checked"{% endif %} checked="checked" />
                      <label for="radio_ida"><strong>Somente Ida</strong></label>

                        <input type="radio" name="itinerario" id="radio_idavolta" value="1" {% if form.itinerario.value == '1' %}checked="checked"{% endif %} />
                      <label for="radio_idavolta"><strong>Ida e Volta</strong></label>

                    {% if form.itinerario.errors %}<label class="error">{% for error in form.itinerario.errors %}{{error}}{% endfor %}</label>{% endif %}


                    </div>
                  </div>
                </div>


              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                    <label>{{form.escalas.label}}</label><strong style="color:red;"> *</strong> <br>

                      <input type="radio" name="escalas" id="escala_0" value="0" {% if form.escalas.value == '0' %}checked="checked"{% endif %}/>
                      <label for="escala_0"><strong>Direto</strong></label>

                        <input type="radio" name="escalas" id="escala_1" value="1" {% if form.escalas.value == '1' %}checked="checked"{% endif %}/>
                      <label for="escala_1"><strong>1 escala</strong></label>

                        <input type="radio" name="escalas" id="escala_2" value="2" {% if form.escalas.value == '2' %}checked="checked"{% endif %}/>
                      <label for="escala_2"><strong>2+ escalas</strong></label>

                      {% if form.escalas.errors %}<label class="error">{% for error in form.escalas.errors %}{{error}}{% endfor %}</label>{% endif %}


                    </div>
                  </div>
                </div>


              <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.dada_inicio.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.dada_inicio.errors %}<label class="error">{% for error in form.dada_inicio.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.dada_inicio}}
                    </div>
                  </div>
                </div>

               <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.dada_fim.label}}</label><strong style="color:red;"> </strong>
                      {% if form.dada_fim.errors %}<label class="error">{% for error in form.dada_fim.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.dada_fim}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-2">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.valor_passagem.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.valor_passagem.errors %}<label class="error">{% for error in form.valor_passagem.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.valor_passagem}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-4">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.localidade_destino.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.localidade_destino.errors %}<label class="error">{% for error in form.localidade_destino.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.localidade_destino}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.origem.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.origem.errors %}<label class="error">{% for error in form.origem.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.origem}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.destino.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.destino.errors %}<label class="error">{% for error in form.destino.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.destino}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                        <input type="checkbox" name="check_acompanhante" class="form-control" id="id_check_acompanhante">
                        <label for="id_check_acompanhante"
                               style="font-weight: bold;"
                               title=""> Acompanhante/convocado/Substituto
                        </label>

                      <label>{{form.acompanhante.label}}</label>
                      {% if form.acompanhante.errors %}<label class="error">{% for error in form.acompanhante.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.acompanhante}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                        <input type="checkbox" name="check_pcd" class="form-control" id="id_check_pcd" {% if pcd == '1' %}checked="checked"{% endif %}>
                        <label for="id_check_pcd"
                               style="font-weight: bold;"
                               title=""> PCD (Pessoa com deficiência)
                        </label>

                      <label>{{form.necessidade_especial.label}}</label>
                      {% if form.necessidade_especial.errors %}<label class="error">{% for error in form.necessidade_especial.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.necessidade_especial}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.tipo_viagem.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.tipo_viagem.errors %}<label class="error">{% for error in form.tipo_viagem.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.tipo_viagem}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.tipo_solicitacao.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.tipo_solicitacao.errors %}<label class="error">{% for error in form.tipo_solicitacao.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.tipo_solicitacao}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.motivo.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.motivo.errors %}<label class="error">{% for error in form.motivo.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.motivo}}
                    </div>
                  </div>
                </div>

               <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.tipo_transporte.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.tipo_transporte.errors %}<label class="error">{% for error in form.tipo_transporte.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.tipo_transporte}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.categoria_passagem.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.categoria_passagem.errors %}<label class="error">{% for error in form.categoria_passagem.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.categoria_passagem}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.horario_preferencial.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.horario_preferencial.errors %}<label class="error">{% for error in form.horario_preferencial.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.horario_preferencial}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.objetivo.label}}</label><strong style="color:red;"> *</strong>
                      {% if form.objetivo.errors %}<label class="error">{% for error in form.objetivo.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.objetivo}}
                    </div>
                  </div>
                </div>

              <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-line">

                      <label>{{form.justificativa.label}}</label>
                      {% if form.justificativa.errors %}<label class="error">{% for error in form.justificativa.errors %}{{error}}{% endfor %}</label>{% endif %}
                      {{form.justificativa}}
                    </div>
                  </div>
                </div>

               <div class="col-sm-12">
                  <div class="form-group">
                    <div class="form-line">

                        {{form.bagagem_tecnica}}
                        <label for="id_bagagem_tecnica"
                               style="font-weight: bold;"
                               title="Caso selecionado, o viajante terá direito a uma bagagem técnica.">
                            {{ form.bagagem_tecnica.label }}
                        </label> <br>

                        {{form.bagagem_despachada}}
                        <label for="id_bagagem_despachada"
                               style="font-weight: bold;"
                               title="Caso selecionado, o viajante terá direito a uma bagagem despachada.">
                            {{ form.bagagem_despachada.label }}
                            {% if form.bagagem_despachada.errors %}<label class="error">{% for error in form.bagagem_despachada.errors %}{{error}}{% endfor %}</label>{% endif %}
                        </label> <br>

                        {{form.crianca_colo}}
                        <label for="id_crianca_colo"
                               style="font-weight: bold;"
                               title="Caso selecionado, viajará com uma criança de colo.">
                            {{ form.crianca_colo.label }}
                        </label> <br>

                        {{form.local_risco}}
                        <label for="id_local_risco"
                               style="font-weight: bold;"
                               title="Caso selecionado, viajará com uma criança de colo.">
                            {{ form.local_risco.label }}
                        </label> <br>

                        {{form.exige_vacina}}
                        <label for="id_exige_vacina"
                               style="font-weight: bold;"
                               title="Caso selecionado, viajará com uma criança de colo.">
                            {{ form.exige_vacina.label }}
                        </label> <br>

                        {{form.reservar_hotel}}
                        <label for="id_reservar_hotel"
                               style="font-weight: bold;"
                               title="Caso selecionado, viajará com uma criança de colo.">
                            {{ form.reservar_hotel.label }}
                        </label> <br>

                        {{form.alimentacao_terceiros}}
                        <label for="id_alimentacao_terceiros"
                               style="font-weight: bold;"
                               title="Caso selecionado, viajará com uma criança de colo.">
                            {{ form.alimentacao_terceiros.label }}
                        </label>

                    </div>
                  </div>
                </div>

                  
              </div>

              <button class="btn btn-success foot-btn" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
            </div>
            <!--#Body-->
          </form>

        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block js %}
    
  {% load static %}
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script type="text/javascript">
      $.Admin.viagemForm.init()
      $.Admin.datetimepicker.init()
    </script>

{% endblock %}