{%extends 'base/base.html'%}


{%block title%} {{title_complete}} {%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



      <div class="row">
        <div class="card">

        <form role="form" action=""  method="post" id="pc_form">
            {% csrf_token %}

          <!--Header-->
          <div class="header">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
            </h2>

              <div class="header-btn">
                  <button type="submit" name="aprovar_pc" class="btn btn-success btn-aprovar_pc" ><i class="material-icons">check</i><span> APROVAR </span></button>
                  <button class="btn btn-red btn-reprovar_pc" id="btn_reprovar_pc"><i class="material-icons">clear</i><span> REPROVAR </span></button>
              </div>

          </div>


    {#Modal motivo da reprovação#}

        <div id="modal_reprovacao_pc_viagem" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Informe o motivo da Reprovação</h4>
                    </div>
                    <div class="modal-body">
                        <textarea required name="motivo" class="form-control" rows="5" placeholder="Digite o motivo da reprovação"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" name="reprovar_pc"  class="btn btn-red">Reprovar</button>
                    </div>
                </div>
            </div>
        </div>

        {#Modal motivo da reprovação#}


              <div class="body">

              <div class="panel panel-default">
                <div class="panel-body" style="background:#f5f5f5">

                    <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Código da Solicitação</label>
                    <input type="text" name="codigo" value="{{id}}" class="form-control" id="id_codigo" readonly>
                </div>
              </div>
            </div>

              <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Inclusão</label>
                    <input disabled type="text" name="data_inicio" value="{{data_inclusao}}" class="form-control" id="id_data_origen" readonly>
                </div>
              </div>
            </div>

              <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Usuário</label>
                    <input disabled type="text" name="solicitante" value="{{solicitante}}" class="form-control" id="id_solicitante" readonly>
                </div>
              </div>
            </div>

              <div class="col-sm-3">
              <div class="form-group">
                <div class="form-line">
                  <label>Origem</label>
                    <input disabled type="text" name="origem" value="{{origem}}" class="form-control" id="id_origem" readonly>
                </div>
              </div>
            </div>

              <div class="col-sm-3">
              <div class="form-group">
                <div class="form-line">
                  <label>Destino</label>
                     <input disabled type="text" name="destino" value="{{destino}}" class="form-control" id="id_destino" readonly>
                </div>
              </div>
            </div>

              <div class="col-sm-3">
              <div class="form-group">
                <div class="form-line">
                  <label>Data Início</label>
                    <input disabled type="text" name="data_fim" value="{{data_inicio}}" class="form-control" id="id_data_inicio" readonly>
                </div>
              </div>
            </div>

              <div class="col-sm-3">
              <div class="form-group">
                <div class="form-line">
                  <label>Data fim</label>
                    <input disabled type="text" name="data_fim" value="{{data_fim}}" class="form-control" id="id_data_fim" readonly>

                </div>
              </div>
            </div>


                </div>
              </div>

              <div class="col-sm-2">
                  <div class="form-group">
                    <div class="form-line">

                      <label>Valor total recursos próprios</label>
                        <input disabled type="text" name="recusos_proprioss" value="{{ totais_pagos.recursos_proprios }}" class="form-control" id="id_recursos_proprios" readonly>
                    </div>
                  </div>
                </div>

              <div class="col-sm-2">
                  <div class="form-group">
                    <div class="form-line">

                      <label>Valor total recursos da empresa</label>
                        <input disabled type="text" name="recursos_empresa" value="{{ totais_pagos.recursos_empresa }}" class="form-control" id="id_recursos_empresa" readonly>
                    </div>
                  </div>
                </div>

              <div class="col-sm-3">
                  <div class="form-group">
                    <div class="form-line">

                        <label>Outros</label><br>
                        <input disabled type="checkbox" name="check_remarcacao" class="form-control" id="id_check_remarcacao" {% if remarcacao_interesse_particular == '1' %}checked="checked"{% endif %}>
                        <label for="id_check_remarcacao"
                               style="font-weight: bold;"
                               title=""> Remarcação por Interesse particular
                        </label>
                    </div>
                  </div>
                </div>

              <div class="col-sm-5">
                  <div class="form-group">
                    <div class="form-line">

                        <label>Viagem cancelada:</label><br>
                        <input disabled type="checkbox" name="check_justificativa_cancelamento" class="form-control" id="id_justificativa_cancelamento" {% if justificativa_cancelamento != '' %}checked="checked"{% endif %}>
                        <label for="id_justificativa_cancelamento"
                               style="font-weight: bold;"
                               title=""> {% if justificativa_cancelamento %}{{ justificativa_cancelamento }}{% endif %}
                        </label>

                    </div>
                  </div>
                </div>

                   {% include 'base/search.html' %}

                   <div class="table-responsive">
                    <table id="lista-database" class="table table-bordered table-striped table-hover lista-table">
                      <thead>
                        <tr>
                            <th>Item</th>
                            <th>Descrição</th>
                            <th>Data</th>
                            <th>Tipo de Despesa</th>
                            <th>Valor</th>
                            <th>Pagamento</th>
                            <th>Anexo</th>

                        </tr>
                      </thead>

                      <tbody>
                       {% if arquivos%}
                       {% for natop in arquivos %}

                       <tr>
                           <td>{{natop.numero_item}}</td>
                           <td>{{natop.descricao}}</td>
                           <td>{{natop.data_evento}}</td>
                           <td>{{natop.tipo_despesa}}</td>
                           <td>R$ {{natop.valor_pago_reais}}</td>
                           <td>{{natop.pagamento}}</td>
                           <td><a href="{{natop.file.url}}">Download</a></td>
                      </tr>
                      {% endfor %}
                      {%else%}
                      {%endif%}
                    </tbody>
                  </table>
                </div>
              </div>
          </form>
        <!-- ###################################################################### -->
        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

