{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">

    {% include 'base/title_header.html' %}

    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
          </div>

          <div class="body">

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Solicitante</th>
                    <th>Data Inicio</th>
                    <th>Data Fim</th>
                    <th>Superintendente</th>
                    <th>DUS</th>
                    <th>Homologada</th>
                    <th>Financeiro - Diárias</th>
                    <th>Prestar Contas</th>
                    <th>Financeiro - Reembolso</th>
                </tr>
              </thead>

              <tbody>
               {% if all_natops%}
               {% for natop in all_natops %}

               <tr
                       class="clickable-row" data-norli-id="{{natop.id}}"  data-href="{% url 'viagem:aprovarpagamentoreembolso' natop.id %}"

               >
                   <td>{{natop.id}}</td>
                   <td>{{natop.solicitante}}</td>
                   <td>{{natop.dada_inicio}}</td>
                   <td>{%if natop.dada_fim%}{{natop.dada_fim}}{%else%}---{%endif%}</td>
                   <td>
                        {% if natop.autorizada_sup  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NAO</span></a>
                        {% endif %}

                    </td>
                   <td>
                        {% if natop.autorizada_dus  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NAO</span></a>
                        {% endif %}

                    </td>
                   <td>
                        {% if natop.homologada  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NAO</span></a>
                        {% endif %}
                   </td>
                   <td>
                        {% if natop.pagamento_diarias_autorizado  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NAO</span></a>
                        {% endif %}
                   </td>
                   <td>
                       {% if natop.autorizada_dus and natop.pagamento_diarias_autorizado and natop.finalizar_pc == '0' %}
                            <a href="{% url 'viagem:prestar_contas_arquivos'  natop.id %}" class="btn btn-yellow"><span> PRESTAR CONTAS </span></a>
                       {% endif %}
                       {% if natop.autorizada_dus and natop.pagamento_diarias_autorizado and natop.finalizar_pc == '1' and  not natop.aprovar_pc == '1' %}
                            <a class="btn"><span> Enviado Para Aprovação</span></a>
                       {% endif %}
                        {% if natop.aprovar_pc == '1' %}
                            <a class="btn btn-success disabled"><span> APROVADA</span></a>
                       {% endif %}

                   </td>
                   <td>
                        {% if natop.pagamento_reembolso_autorizado  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NAO</span></a>
                        {% endif %}
                   </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}

{% block js %}

  {% load static %}

  <script src="{% static 'js/jquery.mask.js' %}"></script>
  <script type="text/javascript">
      $.Admin.viagemForm.init()
  </script>

{% endblock %}