{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">


                <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> SOLICITAR VIAGEM</span></a>
                <button class="btn btn-red btn-remove-alert" ><i class="material-icons">&#xE872;</i></button>

              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}
           <div class="row">
               {% include 'base/select_mes.html' %}
           </div>

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table" data-page-length="50"  data-order='[[2, "desc"]]'>
              <thead>
                <tr>
                    <th>Código</th>
                    <th>Solicitante</th>
                    <th>Data Início</th>
                    <th>Data Fim</th>
                    <th>Tipo</th>
                    <th>Superintendente</th>
                    <th>DUS</th>
                    <th>Homologada - Diárias</th>
                    <th>Financeiro - Diárias</th>
                    <th>Prestar Contas</th>
                    <th>Homologada - Reembolso</th>
                    <th>Financeiro - Reembolso</th>
{#                    <th>ARQUIVOS</th>#}
                     <th>Avaliação</th>
                    <th>Remover</th>
                </tr>
              </thead>

              <tbody>
               {% if all_natops%}
               {% for natop in all_natops %}

               <tr {% if not natop.autorizada_dus and not natop.autorizada_sup and not natop.homologada  and not natop.recusado_sup and not recusado_dus%}
                       class="clickable-row"  data-href="{% url 'viagem:editarviagem' natop.id %}"

               {% else %}
                        class="clickable-row-modal" data-norli-id="{{natop.id}}"  data-href="{% url 'viagem:ver_solicitacao_viagem' natop.id %}"
               {% endif %}
               >
                   <td>{{natop.id}}</td>
                   <td>{{login}}</td>
                   <td data-sort="{{natop.data_inicio_formated}}">{{natop.dada_inicio}}</td>
                   <td>{%if natop.dada_fim%}{{natop.dada_fim}}{%else%}---{%endif%}</td>
                   <td>{%if natop.tipo_viagem%}{{natop.tipo_viagem}}{%else%}---{%endif%}</td>
                   <td>
                        {% if natop.autorizada_sup  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>

                        {% elif  natop.recusado_sup %}
                            <a class="btn btn-red btn-success disabled"><span> RECUSADA</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NÃO</span></a>
                        {% endif %}


                    </td>
                    <td>

                        {% if natop.autorizada_dus  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                         {% elif  natop.recusado_dus %}
                            <a class="btn btn-red btn-success disabled"><span> RECUSADA</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NÃO</span></a>
                        {% endif %}


                    </td>
                    <td>
                        {% if natop.homologada  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                        {% else %}
                            <a class="btn btn-red btn-success disabled"><span> NÃO</span></a>
                        {% endif %}


                    </td>
                    <td>
                        {% if natop.pagamento_diarias_autorizado  %}
                            <a class="btn btn-success disabled"><span> APROVADA</span></a>
                        {% endif %}
                        {% if natop.homologada and not natop.pagamento_diarias_autorizado  %}
                            <a class="btn "><span> Enviado Para Aprovação</span></a>
                        {% endif %}


                    </td>
{#                   <td>#}
{#                       {% if natop.autorizada_dus and natop.homologada and natop.finalizar_pc == '0' %}#}
{#                            <a href="{% url 'viagem:prestar_contas' natop.id %}" class="btn btn-yellow"><span> PRESTAR CONTAS</span></a>#}
{#                       {% endif %}#}
{##}
{#                       {% if natop.autorizada_dus and natop.homologada and natop.finalizar_pc == '1' and  not natop.aprovar_pc == '1' %}#}
{#                           <a class="btn"><span> Enviado Para Aprovação</span></a>#}
{#                       {% endif %}#}
{##}
{#                       {% if natop.aprovar_pc == '1' %}#}
{#                            <a class="btn btn-success"><span> APROVADA</span></a>#}
{#                       {% endif %}#}
{#                   </td>#}
                    <td>
                       {% if natop.autorizada_dus and natop.pagamento_diarias_autorizado and natop.finalizar_pc == '0' %}
                            <a href="{% url 'viagem:prestar_contas_arquivos'  natop.id %}" class="btn btn-yellow"><span> PRESTAR CONTAS </span></a>
                       {% endif %}
                       {% if natop.autorizada_dus and natop.pagamento_diarias_autorizado and natop.finalizar_pc == '1' and  not natop.aprovar_pc == '1' %}
                             <a class="btn"><span> ENVIADO PARA APROVAÇÃO</span></a>
                      
                       {% endif %}
                        {% if natop.aprovar_pc == '1' %}
                            <a class="btn btn-success disabled"><span> APROVADA</span></a>
                       {% endif %}

                   </td>
                    <td>
                        {% if natop.homologada_reembolso  %}
                            <a class="btn btn-success disabled"><span> SIM</span></a>
                        {% endif %}
                        {% if natop.aprovar_pc == '1' and not natop.homologada_reembolso %}
                            <a class="btn btn-red btn-success disabled"><span>NAO</span></a>
                       {% endif %}


                    </td>


                   <td>
                       {% if not natop.tem_reembolso and natop.homologada_reembolso %}
                            <a class="btn btn-success disabled"><span> SEM REEMBOLSO</span></a>
                       {% endif %}
                       {% if natop.tem_reembolso and natop.homologada_reembolso and not natop.pagamento_reembolso_autorizado %}
                            <a class="btn"><span> Enviado Para Aprovação</span></a>
                       {% endif %}
                       {% if natop.tem_reembolso and natop.homologada_reembolso and natop.pagamento_reembolso_autorizado %}
                            <a class="btn btn-success disabled"><span> APROVADO</span></a>
                       {% endif %}
                   </td>
               <td>
                       {% if natop.aprovar_pc == '1' %}
                            <a class="btn btn-success disabled"><span> APROVADA</span></a>
                       {% endif %}
                       {% if natop.aprovar_pc == '2' %}
                           <a class="btn btn-red btn-success disabled"><span>REPROVADA</span></a>

                       {% endif %}
                       {% if natop.finalizar_pc == '1' and natop.aprovar_pc == '0' %}
                           <a class="btn btn-warning btn-success disabled"><span>EM ANÁLISE</span></a>

                       {% endif %}
                   </td>

                <td class="lista-remove">
                                {% if natop.autorizada_sup or natop.autorizada_dus or natop.homologada or  natop.recusado_dus or  natop.recusado_sup %}

                                {% else %}
                                    <input type="checkbox" name="{{natop.id}}" id="remover-entrada-{{natop.id}}"/>
                                    <label class="remove-entry-label" for="remover-entrada-{{natop.id}}"></label>
                                {% endif %}


                </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

        {#  Modal para detalhes #}

        {% include 'base/modal_viagem.html' %}

        {#  Modal para detalhes #}

</div>
</section>


{%endblock%}

{% block js %}

    {% load static %}

    <script src="{% static 'js/jquery.mask.js' %}"></script>

    <script>
        $.Admin.viagemForm.init()

        $('#id_select_mes, #id_select_ano').on('change', function () {
            let mes = $('#id_select_mes').val()
            let ano = $('#id_select_ano').val()
            window.location.href = `{% url 'viagem:listaviagem' %}?mes=${mes}&ano=${ano}`;
        })
    </script>

{% endblock %}