<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Jquery 3.0.0 Js -->
    <script src="{% static 'js/jquery/jquery-3.0.0.min.js' %}"></script>


    <title>ERPZeppelin | {%block title%}Bem-vindo{%endblock%}</title>
</head>

<body class="{%block body_class%}theme{%endblock%}">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="md-preloader">
                <svg viewbox="0 0 75 75">
                    <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
                </svg>
            </div>
            <p class="loader-message">Carregando...</p>
        </div>
    </div>
    <!-- #Page Loader -->

    <!-- Overlay -->
    <div class="overlay"></div>
    <!--  #Overlay -->

    {%block side_top_bars%}

    <!-- Top Bar -->
    <nav id="head_bar" class="navbar topbar">
        <div class="container-fluid">
            <div class="navbar-header">
                	<a href="{% url 'base:index' %}">
                        <img id="logo_norli_pequena" src="/static/img/logo.png">
                    </a>
            </div>

            <!-- Icones ajuda e logout -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="logout-btn" href="{% url 'login:logoutview' %}" title="Sair" ><i class="material-icons">&#xE879;</i></a></li>

                </ul>
            </div>
            <!-- #Icones ajuda e logout -->
        </div>
    </nav>
    <!-- #Top Bar -->

    <section>
        <!-- Barra lateral -->
        <aside id="barralateral" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    {% if user_foto_sidebar %}
                    <a href="{% url 'login:perfilview' %}"><img src="/media/{{user_foto_sidebar}}" width="48" height="48" alt="User" /></a>
                    {%else%}
                    <a href="{% url 'login:perfilview' %}"><img src="/media/imagens/user.png" width="48" height="48" alt="User" /></a>
                    {%endif%}
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.username}} {% if request.user.is_superuser %}(Admin){%endif%}</div>
                    {% if user_empresa %}<div class="email">{{user_empresa}}</div>{% endif %}
                    <div class="email">{{request.user.email}}</div>

                    <div class="user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">&#xE313;</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{% url 'login:perfilview' %}"><i class="material-icons">&#xE55A;</i>Perfil</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a {% if user_empresa %} href="{% url 'cadastro:editarempresaview' user_empresa.id %}"{%else%} class="popup" title="Selecionar Empresa" href="{% url 'login:selecionarempresaview' %}" {%endif%}><i class="material-icons">&#xE0AF;</i>Minha Empresa</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="{% url 'login:usuariosview' %}"><i class="material-icons">&#xE7FB;</i>Usuários</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a id="logout-btn" href="{% url 'login:logoutview' %}" title="Sair" ><i class="material-icons">&#xE879;</i>Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->

            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li>
                        <a href="{% url 'base:index' %}">
                            <i class="material-icons">&#xE88A;</i>
                            <span>Página Inicial</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE85D;</i>
                            <span>Cadastro</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'cadastro:listaclientesview' %}">
                                    Clientes
                                </a>






                            </li>
                            <li>
                                <a href="{% url 'cadastro:listafornecedoresview' %}">
                                    Fornecedores
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'cadastro:listaprodutosview' %}">
                                    Produtos
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="javascript:void(0);">
                                    Serviços
                                </a>
                            </li>
                            -->
                            <li>
                                <a href="{% url 'cadastro:listaempresasview' %}">
                                    Empresas
                                </a>
                            </li>
                               <li>
                                <a href="{% url 'norli_projeto:listafilial' %}">
                                        Filiais
                                    </a>
                            </li>



                            <li>
                                <a href="{% url 'cadastro:listatransportadorasview' %}">
                                    Transportadoras
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    Outros
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="{% url 'cadastro:listacategoriasview' %}">
                                            Categorias
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cadastro:listaunidadesview' %}">
                                            Unidades
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cadastro:listamarcasview' %}">
                                            Marcas
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <!-- Tattica -->

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE1BD;</i>
                            <span>Taticca</span>
                        </a>
                        <ul class="ml-menu">


                            <li>
                                {% if request.user.username == 'root' %}

                                {% else %}
                                    <a href="{% url 'taticca_cv:editacv' %}">
                                        Meu CV
                                    </a>

                                    <a href="{% url 'taticca_cv:listacertificados' %}">
                                       Certificados e Diplomas
                                    </a>
                                {% endif %}

                            </li>
                        </ul>
                    </li>

                    <!-- Tattico -->

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE1BD;</i>
                            <span>Faturamento - Setor Elétrico</span>
                        </a>
                        <ul class="ml-menu">


                            <li>
                                <a href="{% url 'zpfaturamento:listclassificacaofaturamento' %}">
                                    Classificação de Faturamento
                                </a>
                            </li>

                             <li>
                                <a href="{% url 'zpfaturamento:listitemfaturamento' %}">
                                    Itens de Faturamento
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE1BD;</i>
                            <span>Norli</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'norli_projeto:listaprojetos' %}">
                                        Projetos
                                    </a>
                            </li>
                            <li>
                                <a href="{% url 'norli_projeto:listatipo' %}">
                                        Tipos de Projetos
                                    </a>
                            </li>
                            </li>
                               <li>
                                <a href="{% url 'timesheet:listatimesheet' %}">
                                        TimeSheet
                                    </a>
                                </li>

                            <li>
                                <a href="{% url 'timesheet:aprovartimesheet' %}">
                                        Aprovar Horas
                                    </a>
                                </li>







                        </ul>




                    </li>


                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE1BD;</i>
                            <span>Cad. Básicos - Setor Elétrico</span>
                        </a>
                        <ul class="ml-menu">


                            <li>
                                <a href="{% url 'zeppelin:listcriteriobaixarenda' %}">
                                        Critérios de Baixa Renda
                                    </a>
                            </li>

                            <li>
                                <a href="{% url 'zeppelin:listamotivodeferimentobaixarenda' %}">
                                        Motivo Deferimento Baixa Renda
                                    </a>
                            </li>
                             <li>
                                <a href="{% url 'zeppelin:listamotivoreprovacaoanalise' %}">
                                        Motivo de Reprovação em Análise
                                    </a>
                            </li>

                             <li>
                                <a href="{% url 'zeppelin:listamotivocancelamento' %}">
                                        Motivo de Cancelamento de Vistoria
                                    </a>
                            </li>

                            <li>
                                <a href="{% url 'zeppelin:listadesligamento' %}">
                                        Motivo Desligamento
                                    </a>
                            </li>

                            <li>
                                <a href="{% url 'zeppelin:listaservico' %}">
                                        Serviços
                                    </a>
                            </li>

                            <li>
                                <a href="{% url 'zeppelin:listagrupoequipamento' %}">
                                        Grupos de Equipamentos
                                    </a>
                            </li>

                             <li>
                                <a href="{% url 'zeppelin:listacnae' %}">
                                        CNAE
                                    </a>
                            </li>

                             <li>
                                <a href="{% url 'zeppelin:listatipoboletimafericao' %}">
                                        Tipos de Boletins de Aferição
                                    </a>
                            </li>

                             <li>
                                <a href="{% url 'zeppelin:listatipodocumento' %}">
                                        Tipos de documento
                                    </a>
                            </li>

                            <li>
                                <a href="{% url 'zeppelin:listatiposervicoessencial' %}">
                                        Tipos de Serviços Essenciais
                                    </a>
                            </li>

                            <li>
                                <a href="{% url 'zeppelin:listacadastrodefinalidade' %}">
                                        Cadastro de Finalidade de Obra
                                    </a>
                            </li>


                            <li>
                                <a href="{% url 'zeppelin:listamotivoreprovacaovistoria' %}">
                                        Motivos de Reprovação em Vistoria
                                    </a>
                            </li>


                              <li>
                                <a href="{% url 'zeppelin:listahistoricopadrao' %}">
                                        Histórico Padrão
                                    </a>
                            </li>



                             <li>
                                <a href="{% url 'zeppelin:listaequipamento' %}">
                                        Equipamentos
                                    </a>
                            </li>


                            <li>
                                <a href="{% url 'zeppelin:listaregional' %}">
                                        Regionais
                                    </a>
                            </li>

                            <li>
                               <a href="{% url 'zeppelin:listauc' %}">
                                        Unidade Consumidora
                                    </a>
                            </li>
                            <li>
                                <a href="{% url 'zeppelin:listamedidor' %}">
                                    Medidores
                                </a>
                            </li>
                            <li>
                               <a href="{% url 'zeppelin:listaclasse' %}">
                                        Classes
                                   </a>
                            </li>
                               <li>
                               <a href="{% url 'zeppelin:listasubclasse' %}">
                                        Sub-Classes
                                    </a>
                            </li>

                              <li>
                               <a href="{% url 'zeppelin:listagrupo' %}">
                                        Grupo
                                   </a>
                            </li>
                            <li>
                               <a href="{% url 'zeppelin:listasubgrupo' %}">
                                        Sub-Grupos
                                    </a>
                            </li>

                             <li>
                               <a href="{% url 'zeppelin:listatipoespecial' %}">
                                        Tipos Especiais
                                </a>
                            </li>



                            <li>
                                <a href="{% url 'zeppelin:listamunicipio' %}">
                                        Municipios
                                    </a>
                            </li>

                        </ul>
                    </li>







                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE54E;</i>
                            <span>Vendas</span>
                        </a>
                        <ul class="ml-menu">


                            <li>
                                <a href="{% url 'vendas:listapedidovendaview' %}">
                                    Pedidos de venda
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'vendas:listacondicaopagamentoview' %}">
                                    Condições de pagamento
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE8CC;</i>
                            <span>Compras</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'compras:listaorcamentocompraview' %}">
                                    Orçamentos de Compra
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'compras:listapedidocompraview' %}">
                                    Pedidos de Compra
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'vendas:listacondicaopagamentoview' %}">
                                    Condições de pagamento
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE8B0;</i>
                            <span>Fiscal</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    Nota Fiscal
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="{% url 'fiscal:listanotafiscalsaidaview' %}">
                                            Notas Fiscais
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'fiscal:listanotafiscalentradaview' %}">
                                            Notas de Fornecedores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'fiscal:configuracaonotafiscal' %}">
                                            Configuração NF-e
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'fiscal:listanaturezaoperacaoview' %}">
                                    Natureza da operação
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'fiscal:listagrupofiscalview' %}">
                                    Grupo fiscal
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    Comunicação SEFAZ
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="{% url 'fiscal:consultarcadastro' %}">
                                            Consultar cadastro
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'fiscal:inutilizarnotas' %}">
                                            Inutilizar notas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'fiscal:consultarnota' %}">
                                            Consultar nota
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'fiscal:baixarnota' %}">
                                            Baixar nota
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'fiscal:manifestacaodestinatario' %}">
                                            Manifestação do destinatário
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE227;</i>
                            <span>Financeiro</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'financeiro:planocontasview' %}">
                                    Plano de contas
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'financeiro:fluxodecaixaview' %}">
                                    Fluxo de caixa
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'financeiro:listalancamentoview' %}">
                                    Lançamentos
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    Entradas
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="{% url 'financeiro:listarecebimentosview' %}">
                                            Recebimentos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'financeiro:listacontareceberview' %}">
                                            Contas a receber
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    Saidas
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="{% url 'financeiro:listapagamentosview' %}">
                                            Pagamentos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'financeiro:listacontapagarview' %}">
                                            Contas a pagar
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                 <!-- Inicio Viagens -->
                    <!-- https://materializecss.com/icons.html -->
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">flight_takeoff</i>
                            <span>Viagens</span>
                        </a>
                        <ul class="ml-menu">
                            <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">check_circle</i>
                            <span>Itens de Viagem</span>
                        </a>
                                <ul class="ml-menu">
                                    <li>
                                        <li>
                                            <a href="{% url 'viagem:listatiposviagens' %}">
                                                 <span>Tipos de Viagens</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url 'viagem:listatiposolicitacao' %}">
                                                 <span>Tipos de Solicitação</span>
                                            </a>
                                        </li>


                                        <li>
                                            <a href="{% url 'viagem:listatipotransporte' %}">
                                                 <span>Tipos de Transporte</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url 'viagem:listamotivos' %}">
                                                 <span>Motivos De Viagem</span>
                                            </a>
                                        </li>
                                </ul>

                                <li>
                                    <a href="{% url 'viagem:listaviagem' %}">
                                         <span>Solicitação de Viagens</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'viagem:listaautorizarviagem' %}">
                                         <span>Autorizar Viagens</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'viagem:listahomologacaoviagem' %}">
                                         <span>Homologar Viagens</span>
                                    </a>
                                </li>


                            </li>
                        </ul>
                    </li>

                    <!-- Fim Viagens-->

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">&#xE1BD;</i>
                            <span>Estoque</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'estoque:consultaestoqueview' %}">
                                    Consultar estoque
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'estoque:listalocalview' %}">
                                    Locais de estoque
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    Movimentações de estoque
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="{% url 'estoque:listamovimentoestoqueview' %}">
                                            Todas movimentações
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'estoque:listaentradasestoqueview' %}">
                                            Entradas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'estoque:listasaidasestoqueview' %}">
                                            Saídas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'estoque:listatransferenciasestoqueview' %}">
                                            Transferências
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>






                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    <a href=""> Norli</a>.
                </div>
                <div class="version">
                    <b>Versão: </b> {{versao}}
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #Barra lateral -->

    </section>
    {% endblock %}

    {%block content%}
    {%endblock%}

    {% include 'base/modal.html' %}



    <!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Datatables Js -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

    <!-- Sige Js -->
    <script src="{% static 'js/admin.js' %}"></script>


    {% if messages %}
    {%for message in messages%}
    {% if 'permission_warning' in message.tags %}

    <script type="text/javascript">
        $.Admin.messages.msgAlerta("{{message}}");
    </script>

    {%endif%}
    {%endfor%}
    {%endif%}

    {% block js %}
    {% endblock %}

</body>

</html>
