<div class="col-sm-2">
      <div class="form-group">
          <div class="form-line">
              <label for="select-ano">Selecione o ano:</label>
              <select class="form-control" name="select_ano" id="id_select_ano">

                  {% for ano in anos_disponiveis %}

                      <option value="{{ ano }}" {% if ano == ano_selecionado %}selected{% endif %}>{{ ano }}</option>

                  {% endfor %}



              </select>

          </div>
      </div>
</div>

  <div class="col-sm-2">
      <div class="form-group">
          <div class="form-line">
              <label for="select-mes">Selecione o mês:</label>
              <select class="form-control" name="select_mes" id="id_select_mes">
                  <option value="12" {% if mes_selecionado == '12' %}selected{% endif %}>Dezembro</option>
                  <option value="11" {% if mes_selecionado == '11' %}selected{% endif %}>Novembro</option>
                  <option value="10" {% if mes_selecionado == '10' %}selected{% endif %}>Outubro</option>
                  <option value="9" {% if mes_selecionado == '9' %}selected{% endif %}>Setembro</option>
                  <option value="8" {% if mes_selecionado == '8' %}selected{% endif %}>Agosto</option>
                  <option value="7" {% if mes_selecionado == '7' %}selected{% endif %}>Julho</option>
                  <option value="6" {% if mes_selecionado == '6' %}selected{% endif %}>Junho</option>
                  <option value="5" {% if mes_selecionado == '5' %}selected{% endif %}>Maio</option>
                  <option value="4" {% if mes_selecionado == '4' %}selected{% endif %}>Abril</option>
                  <option value="3" {% if mes_selecionado == '3' %}selected{% endif %}>Março</option>
                  <option value="2" {% if mes_selecionado == '2' %}selected{% endif %}>Fevereiro</option>
                  <option value="1" {% if mes_selecionado == '1' %}selected{% endif %}>Janeiro</option>
              </select>

          </div>
      </div>
  </div>