<div class="col-sm-2">
      <div class="form-group">
          <div class="form-line">
              <label for="select-user">Selecione o usuário:</label>
              <select class="form-control" name="select_user" id="id_select_user">

                  {% for user in users_disponiveis %}

                      <option value="{{ user }}" {% if user == user_selecionado %}selected{% endif %}>{{ user }}</option>

                  {% endfor %}



              </select>

          </div>
      </div>
</div>

